{%  load static %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<header>

    <nav style="margin-bottom: 50px; background-color: #333" class="navbar sticky-top navbar-expand-xl navbar-dark " >
    <a href="home/" class="navbar-brand"> <img src="{% static 'images/logo/csealogo.png' %}" height="30px" width="100px" hspace="50px"></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu" >
        <ul class="navbar-nav ml-auto" style="background-color: #333">
            <li class="nav-item"><a href="/gallery/">Gallery</a></li>
            <li class="nav-item"><a href="/events/">Events</a></li>
            <li class="nav-item"><a href="/team/">Team</a></li>
            <li class="nav-item"><a href="/alumni/">Alumni</a></li>
            <li class="nav-item"><a href="/feedback/">Feedback</a></li>
            <li class="nav-item"><a href="/straightoutta/">Straight Outta CSED</a></li>
            <li class="nav-item"><a href="/alumniconnect/">Alumni Connect</a></li>
            <li class="nav-item"><a href="/talksWithCsea/">Talks With CSEA</a></li>
        </ul>
    </div>
</nav>

<div align="center" class="fluid-container">

      <img src="{% static 'images/logo/nitwlogo.png' %}" width="400"> <img src="{% static 'images/logo/logo.jpg' %}" width="240">
      <h1><b>Computer Science and Engineering Association, NITW</b></h1>
    </div>


</header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
