{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Straight Outta CSED</title>
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->
  <!-- Bootstrap CSS File -->
  <!-- <link href="style.css" rel="stylesheet"> -->


<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">


  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext">

  <link href="{% static 'style1.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="{% static 'css/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'css/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/css/aos.css'%}">

    <link rel="stylesheet" href="{% static 'css/css/ionicons.min.css'%}">
              <link href="{% static 'fab/css/all.css' %}" rel="stylesheet"> <!--load all styles -->

      <!-- ... -->
<link rel="stylesheet" id="font-awesome-css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css?ver=4.9.4" type="text/css" media="all">


    <link rel="stylesheet" href="{% static 'css/css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'css/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'straight.css'%}">

    <style type="text/css">
.activez {
  background-color: #717171;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
Active/Current Navigation Link
Add an "active" class to the current link to let the user know which page he/she is on:
HomeNewsContactAbout
Example
.active {
  background-color: #4CAF50;
}
        footer{
  {#margin-top:100px;#}
    background-color:;
    font-family: "Segoe UI",Arial,sans-serif;
   width: 100%;
    height: 500px;
    color: white;
  }


  }
  @media only screen and (max-width: 425px){
    footer{
      height: 600px;
    }
    #gap a{
        padding: 5px;
    }

}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

</style>


</head>

<body>



<div align="center">
{#      <img src="{% static 'images/band.png' %}" width="1500">#}
{#      <br>#}
      <img src="{% static 'images/nitwlogo.png' %}" width="400"> <img src="{% static 'images/logo.jpg' %}" width="240">
      <h1><b>Computer Science and Engineering Association, NITW</b></h1>
    </div>

<div class="wrapper" style ="background-image: url(http://jmd.im/wp-content/uploads/2017/06/blacki_thumbnail.jpg);">

    <ul >

    <li><a href="http://divasjindal.pythonanywhere.com/csea/home/">Home</a></li>
    <li><a href="http://divasjindal.pythonanywhere.com/csea/gallery/">Gallery</a></li>
    <li><a href="http:///divasjindal.pythonanywhere.com/csea/events/">Events</a></li>
    <li><a href="http:///divasjindal.pythonanywhere.com/csea/team/">Team</a></li>
    <li><a href="http:///divasjindal.pythonanywhere.com/csea/alumni/">Alumni</a></li>
    <li><a href="http:///divasjindal.pythonanywhere.com/csea/feedback/">Feedback</a></li>
    <li><a class="activez" href="http:///divasjindal.pythonanywhere.com/csea/straightoutta/">Straight Outta CSED</a></li>
    <li><a href="http:///divasjindal.pythonanywhere.com/csea/alumniconnect/">Alumni Connect</a></li>

  </ul>

<!--
  <div class="background">
  </div> -->
  <div class="item-bg"></div>

  <div class="news-slider">
    <div class="news-slider__wrp swiper-wrapper">
      <div class="news-slider__item swiper-slide">
        <a href="https://www.facebook.com/cseanitw/photos/a.590413381399189/732681937172332/?type=3" target="_blank" class="news__item">

          <div class="news__title">
            Aabhaas Dasgupta
          </div>

          <p class="news__txt">
            I am a person with no filter. Since my childhood, I have always wanted to touch as many lives as possible and impact them positively. This may sound very idealistic, but this has been my philosophy always.
          </p>
          <p>Read More</p>
          <div class="news__img">
            <img src="{% static 'images/aabhaas.jpg' %}" alt="news">
          </div>
        </a>
      </div>


      <div class="news-slider__item swiper-slide">
        <a href="https://www.facebook.com/cseanitw/posts/590375494736311" target="_blank" class="news__item">

          <div class="news__title">
            Lucy
          </div>

          <p class="news__txt">
            “The biggest problem with most people is that they don’t understand what I am trying to say. Like the case with Pikachu and “Pika Pika”, whatever I try to say, only translates to “Woof Woof” for you guys.
          </p>
          <p>Read More</p>
          <div class="news__img">
            <img src="{% static 'images/lucy.jpg' %}" alt="news">
          </div>
        </a>
      </div>


      <div class="news-slider__item swiper-slide">
        <a href="https://www.facebook.com/cseanitw/posts/626312161142644" target="_blank" class="news__item">

          <div class="news__title">
            Balaji Thakur Singh
          </div>

          <p class="news__txt">
           I joined the college 36 years ago and have been a part of the CSE family now for 14 years. Having worked in the accounts section, followed by short stints in the mechanical department and the hostels,
          </p>
          <p>Read More</p>
          <div class="news__img">
            <img src="{% static 'images/balaji.jpg' %}" alt="news">
          </div>
        </a>
      </div>


      <div class="news-slider__item swiper-slide">
        <a href="https://www.facebook.com/cseanitw/posts/628868480887012" target="_blank" class="news__item">

          <div class="news__title">
            Ghanshyam
          </div>

          <p class="news__txt">
           I consider myself neither a genius nor an entrepreneur but one having different aspirations and goals than the majority. Pursuing a Bachelor’s degree in Technology with Computer Science as my major,
          </p>
          <p>Read More</p>
          <div class="news__img">
            <img src="{% static 'images/ghanshyam.jpg' %}" alt="news">
          </div>
        </a>
      </div>


      <div class="news-slider__item swiper-slide">
        <a href="https://www.facebook.com/cseanitw/posts/607754269665100" target="_blank" class="news__item">

          <div class="news__title">
            Dr. R.B.V. Subramanyaam
          </div>

          <p class="news__txt">
           In today's competitive times, where curriculum based education has become a thing of the past and more focus is laid on projects, an early start towards imbibing interest in reading research papers,
          </p>
          <p>Read More</p>
          <div class="news__img">
            <img src="{% static 'images/hod.jpg' %}" alt="news">
          </div>
        </a>
      </div>

          <div class="news-slider__item swiper-slide">
        <a href="https://www.facebook.com/cseanitw/posts/607754269665100" target="_blank" class="news__item">

          <div class="news__title">
            Padmasri
          </div>

          <p class="news__txt">
          I had joined NIT 27 years back and since then I have been part of the CSE family. I give the credit for this fortune to my brother who at the time was the ECE Head of Department and recommended me to be </p>
          <p>Read More</p>
          <div class="news__img">
            <img src="{% static 'images/padma.jpg' %}" alt="news">
          </div>
        </a>
      </div>



      <div class="news-slider__item swiper-slide">
        <a href="https://www.facebook.com/cseanitw/posts/599884400452087" target="_blank" class="news__item">

          <div class="news__title">
            Yamini Kashyap
          </div>

          <p class="news__txt">
           My CSE journey was more of a rollercoaster, just with more surprises. From a meek and reserved child who believed everyone, agreed with everyone and tried hard to please everyone, college with a proportionate mix of bitter and</p>
          <p>Read More</p>
          <div class="news__img">
            <img src="{% static 'images/yamini.jpg' %}" alt="news">
          </div>
        </a>
      </div>



    </div>

    <div class="news-slider__ctr">

      <div class="news-slider__arrows">
        <button class="news-slider__arrow news-slider-prev">
          <span >
            <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
          </span>
        </button>
        <button class="news-slider__arrow news-slider-next">
          <span >
            <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
          </span>
        </button>
      </div>

      <div class="news-slider__pagination"></div>

    </div>

  </div>


<div align="centre">
<svg >
  <defs>
    <symbol id="icon-arrow-left" viewBox="0 0 32 32">
      <title>arrow-left</title>
      <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
    </symbol>
    <symbol id="icon-arrow-right" viewBox="0 0 32 32">
      <title>arrow-right</title>
      <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
    </symbol>
  </defs>
</svg>


  <div align="center">

    <footer text-align="center" class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container" class="col-md-5">
        <div class="row mb-2 ">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.880316715465!2d79.52921395041203!3d17.98430438766325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a334fbbec4fcd8b%3A0xc5f5d66e005e92dc!2sDepartment%20of%20Computer%20Science%20%26%20Engineering!5e0!3m2!1sen!2sin!4v1571860298351!5m2!1sen!2sin" width="500" height="300" frameborder="0" style="border:2px;" allowfullscreen="" ></iframe>

        <div class="col-md-5 col-lg-2">
            </div>

{#          </div>#}
            <div class="col-md-2 col-lg-4">
            <div class="ftco-footer-widget ">
              <h2 class="ftco-heading-2 mb-0">Stay Connected With Us</h2>
{#              <p></p>#}
                <ul class="list-inline social-buttons">

                        <li class="list-inline-item">
                          <a  href="mailto:csea@student.nitw.ac.in"><img src="{% static 'images/email.png' %}" width="50ox" height="50px margin-left "></a>

                        </li>
                        <li class="list-inline-item">
                <a href="https://www.facebook.com/cseanitw/"><img src="{% static 'images/fb.png' %}" width="50px"height="50px"></a>
                        </li>
                        <li class="list-inline-item">
                <a href="https://www.instagram.com/csea_nitw/?hl=en"><img src="{% static 'images/insta.png' %}" width="50px" height="50px"></a>
        </li>
                      </ul>
                &nbsp;

            </div>

          </div>
          </div>
      </div>
        <br><br>
    <div align="centre">
            <span class="copyright">
      &copy; Copyright. All rights reserved. Design by <a href="https://www.facebook.com/cseanitw/">CSEA, NIT Warangal</a>
    </span></div>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><i class=" fa fa-angle-double-up"></i> </button>
            </footer>
  </div>


<script>
    //Get the button:
mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
  <script src="{% static 'jav.js' %}"></script>

  </body>
</html>


