 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

 li {
  float: left;
}

 li a {
   font-size: 18px;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
 li a:hover {
    color: #fd5f00;
  background-color: #111;
    text-decoration: none;
}
Active/Current Navigation Link
Add an "active" class to the current link to let the user know which page he/she is on:
HomeNewsContactAbout
Examples
.active {
  background-color: #4CAF50;
}
